# Compiled files
*.class
*.js

# Build and GWT-specific information
war/WEB-INF/classes/
war/WEB-INF/classes-test/
war/WEB-INF/deploy/
war/WEB-INF/lib/
.gwt/
gwt-unitCache/

# Eclipse information
.settings/
.metadata/

# IntelliJ IDEA
BodyTrackGrapher.iws

# Information exported to the website repo
war/grapher2/

# Things that the OS or an editor might leave in a directory
*.swp       # vim and some other programs
*~          # emacs
*.DS_Store

# The modified MGWT jar (we rebuild every time during the build, so no need to keep it in git)
lib/mgwt/mgwt-2.0.0-modified.jar